.design{
  align-items: center;
  justify-content: center;
  margin: 130px;
  text-align: -webkit-center;
  font-family:'Courier New', Courier, monospace;
}
.bouton{
  padding: 10px;
    margin: 17px;
    background-color: wheat;
    border: outset;
    border-width: inherit;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}